<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FastScan</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FastScan</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FastScan adds scanned photos to your library, in an album for the day you scanned them.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>FastScan adds scanned photos to your library.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>FastScan finds and talks to your Epson scanner on the local network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_scanner._tcp</string>
	</array>
</dict>
</plist>
